/* responsive styles for small devices or down */
@media screen and (max-width: 600px) {

    header {
        
    }

    /* Banner Section Responsive */

    .banner{
        
        border: 2px solid tomato;
        padding: 5px;
        height: 483px;
        max-width: 400px;
        justify-content: center;
        align-items: center;
    }

    .banner-title, .popular-tour-section-title, .common-title {
        font-size: 22px;
    }

    .banner-description, .common-paragraph {
        font-size: 14px;
    }

    .banner-inputBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        margin: 15px;
    }

    /* Popular Section Responsive */
    .popular-tour-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .popular-tour-section-content {
        border: 2px solid tomato;
        max-width: 400px;
    }

    /* pore korba image k responsive */
    .popular-tour-section-img {
        border: 2px solid tomato;
        width: 50%;
        margin: 0;
        padding: 0;
    }

    /* DestinationSection Responsive */
    .row > img {
        flex-direction: column;
    }



    
}